<div class="flex flex-col items-center">
  <h1 class="text-3xl font-bold mb-6 text-center text-gray-800">ユーザーページ</h1>

  <!-- コンテンツを中央に配置 -->
  <div class="w-full max-w-3xl rounded-lg p-6 mb-6 mx-auto text-center">
    <div class="bg-white w-[300px] p-5 text-center mx-auto">
      <%= image_tag @user.profile.attached? ? @user.profile : 'account.png', class: 'w-14 h-14 rounded-full object-cover border border-300 mx-auto' %>
      <div class="font-bold">
        <p class="text-2xl"><%= @user.name %></p>
      </div>
      <div class="bg-gray-50 text-sm mb-5 p-5">
        <p><%= @user.self_introduction %></p>
      </div>
      <% if @user == current_user %>
        <div class="flex justify-center">
          <%= link_to edit_user_path, class: "flex items-center bg-blue-500 text-white py-2 px-4 rounded shadow hover:bg-blue-600 transition duration-200" do %>
            <span class="material-icons">edit</span>
            <span class="ml-1">編集</span>
          <% end %>
        </div>
      <% end %>
    </div>

    <p class="text-xl mb-4 my-4 font-semibold text-gray-700">登録済みペット</p>

    <!-- cat_card の表示 -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <%= render partial: "shared/cat_card", collection: @cats, as: :cat %>
    </div>

    <!-- 「猫を登録する」ボタンを中央揃え -->
    <% if @user == current_user %>
      <div class="mt-4 text-center pb-6 border-b border-gray-300">
        <%= link_to '猫を登録する', new_user_cat_path(current_user), class: 'px-4 py-2 bg-blue-500 text-2xl text-white rounded-md hover:bg-blue-600 transition-colors duration-200' %>
      </div>
    <% end %>
  </div>


  <% if @user == current_user %>
    <% if @calculation_result.present? %>
      <h2 class="text-2xl mb-4 font-semibold text-gray-800">計算結果一覧</h2>
      <% @calculation_result.each do |calculation| %>
        <div class="bg-white shadow-md rounded-lg p-6 flex flex-col items-center w-full max-w-2xl mx-4 mb-6">
        <div class="grid grid-cols-1 gap-4">
        <p class="text-lg"><span class="font-semibold text-gray-900">メーカー:</span> <%= calculation.main_brand.name %></p>
        <p class="text-lg"><span class="font-semibold text-gray-900">フード:</span> <%= calculation.main_food.name %></p>
        <p class="text-lg"><span class="font-semibold text-gray-900">サブメーカー:</span> <%= calculation.sub_brand&.name.presence || 'なし' %></p>
        <p class="text-lg"><span class="font-semibold text-gray-900">サブフード:</span> <%= calculation.sub_food&.name.presence || 'なし' %></p>
        <p class="text-lg"><span class="font-semibold text-gray-900">体重:</span> <%= calculation.weight %> kg</p>
        <p class="text-lg"><span class="font-semibold text-gray-900">メインフードの量:</span> <%= calculation.main_food_amount %> g</p>
        <p class="text-lg"><span class="font-semibold text-gray-900">サブフードの量:</span> <%= calculation.sub_food_amount %> g</p>
        <p class="text-lg"><span class="font-semibold text-gray-900">合計カロリー:</span> <%= calculation.total_daily_calories %> kcal</p>
      </div>
      <p class="text-sm text-gray-500 mt-4 text-right">作成日時: <%= calculation.created_at.strftime('%Y-%m-%d %H:%M:%S') %></p>

      <div class="flex justify-center mt-4">
        <%= button_to '削除', feeding_calculation_path(calculation.id), method: :delete, 
              class: 'bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-6 rounded-lg shadow' %>
      </div>
        </div>
      <% end %>
    <% else %>
      <p class="bg-white shadow-md text-red-500 p-4 rounded-md mt-4 w-full max-w-3xl mx-auto text-center">
        計算結果はまだありません。
      </p>
    <% end %>
  <% end %>
</div>
