<!-- 未ログイン状態のヘッダー -->
<div class="bg-header">
  <header class="flex justify-between">
    <div class="navbar">
      <!-- アプリタイトル -->
      <div class="flex-1">
        <%= link_to '/', class: 'block' do %>
          <%= image_tag 'logo.png', class:"transition duration-200 hover:opacity-40"%>
        <% end %>
      </div>

      <!-- メニュー -->
      <div class="flex-none">
        <div class="dropdown dropdown-end">
          <label tabindex="0" class="btn btn-ghost">
            メニュー
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </label>
          <ul tabindex="0" class="dropdown-content z-50 menu p-2 shadow bg-base-100 rounded-box w-52">
            <li>
              <%= link_to new_user_session_path, class: "flex items-center space-x-2" do %>
                <span class="material-icons text-default">login</span>
                <span>ログイン</span>
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path, class: "flex items-center space-x-2" do %>
                <span class="material-icons text-default">person_add</span>
                <span>新規登録</span>
              <% end %>
            </li>
            <div class="divider my-1"></div>
            <li>
              <%= link_to new_feeding_calculation_path, class: "flex items-center space-x-2" do %>
                <span class="material-icons text-default">calculate</span>
                <span>給与量の計算</span>
              <% end %>
            </li>
            <li>
              <%= link_to brands_path, class: "flex items-center space-x-2" do %>
                <span class="material-icons text-default">reviews</span>
                <span>フードレビュー</span>
              <% end %>
            </li>
            <li>
              <%= link_to cats_path, class: "flex items-center space-x-2" do %>
                <span class="material-icons text-default">pets</span>
                <span>みんなのペット</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</div>
