<h1 class="text-2xl font-bold mb-4">詳細ページ</h1>
<p class="text-lg font-semibold"><%= @food.brand.name %></p>
<p class="text-xl font-bold mb-2"><%= @food.name %></p>

<div class="mb-4">
  <%= render 'bookmark_buttons', { food: @food } %>
</div>

<p class="mb-2">
  <%= link_to "商品リンク", safe_external_url(@food.external_url), class: "text-blue-500 hover:underline", target: "_blank", rel: "noopener" %>
</p>

<%= link_to "レビュー投稿", new_food_review_path(@food.id), class: "px-4 py-2 font-semibold text-white bg-blue-500 rounded-md hover:bg-blue-600" %>

<div class="flex items-center mb-2 mt-4">
  <div class="flex">
    <% 5.times do |i| %>
      <% if i < @average_rating.to_i %>
        <svg class="w-4 h-4 text-yellow-300 me-1" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
          <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
        </svg>
      <% else %>
        <svg class="w-4 h-4 text-gray-300 me-1" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
          <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
        </svg>
      <% end %>
    <% end %>
  </div>
  <p class="ms-1 text-sm font-medium text-gray-500"><%= @average_rating %></p>
  <p class="ms-1 text-sm font-medium text-gray-500">out of</p>
  <p class="ms-1 text-sm font-medium text-gray-500">5</p>
</div>
<p class="text-sm font-medium text-gray-500"><%= @total_reviews %> global ratings</p>

<% @rating_percentage.each do |star, percentage| %>
  <div class="flex items-center mt-4">
    <a href="#" class="text-sm font-medium text-blue-600 hover:underline"><%= star %> star</a>
    <div class="w-2/4 h-5 mx-4 bg-gray-200 rounded">
      <div class="h-5 bg-yellow-300 rounded" style="width: <%= percentage %>%"></div>
    </div>
    <span class="text-sm font-medium text-gray-500"><%= percentage %>%</span>
  </div>
<% end %>

