<h1 class="text-2xl font-bold mb-4">詳細ページ</h1>
<div class="food bg-white shadow-md p-4 rounded-lg">
  <p class="text-lg font-semibold"><%= @food.brand.name %></p>
  <p class="text-xl font-bold mb-2"><%= @food.name %></p>
  
  <div class="mb-4">
    <%= render 'bookmark_buttons', { food: @food } %>
  </div>
  
  <p class="mb-2">
    <%= link_to "商品リンク", safe_external_url(@food.external_url), class: "text-blue-500 hover:underline", target: "_blank", rel: "noopener" %>
  </p>
  
  <p>
    <%= link_to "レビュー投稿", new_food_review_path(@food.id), class: "px-4 py-2 font-semibold text-white bg-blue-500 rounded-md hover:bg-blue-600" %>
  </p>
  