<div class="container mx-auto p-6">
  <div class="bg-white p-6 rounded-lg shadow-lg max-w-md mx-auto">
    <h2 class="text-2xl font-bold mb-4"><%= @cat.name %></h2>
    <div class="relative w-full h-48">
      <%= image_tag(@cat.cat_profile.attached? ? @cat.cat_profile : 'pets.png', class: "w-full h-full object-cover") %>
    </div>
    <p class="text-gray-700">体重: <%= @cat.weight %> kg</p>
    <p class="text-gray-700">投稿者: <%= @cat.user.name %></p>

    <% if @cat.user == current_user %>
      <div class="mt-4 flex justify-between">
        <%= link_to '編集', edit_user_cat_path(current_user, @cat), class: "px-4 py-2 bg-yellow-500 text-white rounded-lg" %>
        <%= button_to '削除', user_cat_path(current_user, @cat), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "px-4 py-2 bg-red-600 text-white rounded-lg" %>
      </div>
    <% end %>
    
    <div class="mt-4">
      <%= link_to '戻る', user_path(@user), class: "px-4 py-2 bg-gray-500 text-white rounded-lg" %>
    </div>
  </div>
</div>
